{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Daily Question{% endblock %}</h1>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../../static/datePicker/css/deskyCal.css" />
<script src="../../static/datePicker/js/deskycal.js"></script>
<script src="../../static/question.js"></script>
<div class="container">
  <div class="row" style="padding-top: 0.5em;">
    <div class="col-md-2">
      <span>
        Please select a date:
      </span>
    </div>
    <div class="col">
      <input id="datePicker" />
    </div>
  </div>
  <div class="row" style="padding-top: 0.5rem;">
    <div class="col">
      <img id="question-img" alt="question image." style="width:80%; object-fit: contain; display:block;" />
    </div>
  </div>
</div>

  {% block interactionEx %}
  <script>
    var date;
    function date_picking_callback(d, n) {
      date = assembleDate(d);
      getImage(date, 1, 'daily');
    }
  </script>
  {% endblock %}

  <script>
    initDeskyCalendar(
      "datePicker",
      "single",
      null,
      null,
      null,
      null,
      null,
      null,
      date_picking_callback
    );
    let now = new Date();
    date_picking_callback(now);
  </script>
{% endblock %}