{% extends 'daily/browse.html' %}

{% block header %}
<h1>{% block title %}Daily Question-Set{% endblock %}</h1>
{% endblock %}

{% block interactionEx %}
<div id="setDiv" class="row" style="padding-top: 0.5em;">
  <div class="col">
    <label for="refAnswer">Reference Answer:</label>
    <input name="refAnswer" id="refAnswer" required>
    <label for="imageFile">Image File:</label>
    <input type="file" name="imageFile" id="imageFile" required>
    {% block setQuestion %}
    <input id="submit" type="submit" value="submit" onclick="setQuestion(n, 'daily')">
    {% endblock %}
  </div>
</div>
<script>
  var date;
  var n = 1;
  function date_picking_callback(d) {
    date = assembleDate(d);
    getImage(date, n, 'daily');
    getRefAnswer(date, n, 'daily');
    submitButton = document.getElementById('submit');
    submitButton.disabled = false;
  }
</script>
{% endblock %}

