{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Activities{% endblock %}</h1>
{% endblock %}

{% block content %}
<body>
    <p>Lord Byng Math Contest Club was founded in 2017 at Lord Byng Secondary School in Vancouver, Canada, by a group of enthusiastic students passionate about mathematics. Initially, we only held weekly meetings. Over the years, the Lord Byng Math Contest Club has experienced rapid growth, going from just a few members to hundreds. Currently, we not only have weekly meetings but also offer a variety of activities. For instance, we run a YouTube channel that actively posts videos, invite professors and alumni for webinars, and host inter-school contests.</p>
</body>
{% endblock %}