{% extends 'question/exercise.html' %}

{% block header %}
<h1>{% block title %}Inter-School Contest{% endblock %}</h1>
{% endblock %}

{% block timer %}
<p id="timer">{{endTime}}</p>

<script>
var innert = document.getElementById("timer").textContent;
var countDownDate = new Date(innert).getTime();
var x = setInterval(function() {
  var now = new Date().getTime();

  var distance = countDownDate - now;

  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  document.getElementById("timer").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
{% endblock %}

<div id="exercise" class="row" style="padding-top: 0.5em;">
    <div class="col">
        <label for="answer">Your Answer:</label>
        <input name="answer" id="answer">
        <input id='submit' type="submit" value="submit" onclick="submitAnwser()">
    </div>
    <div class="col">
        <label for="refAnswer">Reference Answer:</label>
        <text name="refAnswer" id="refAnswer">Not Available</text>
    </div>
</div>

{% block imageDisplay %}
<img id="contest-img" alt="contest image." style="width:80%; object-fit: contain; display:block;"/>
{% endblock %}

{% block fetchImage %}
<script>
    initDeskyCalendar(
        "datePicker",
        "single",
        null,
        null,
        null,
        null,
        null,
        null,
        date_picking_callback_exercise
    );
    let now = new Date();
    date_picking_callback_exercise(now);

    async function date_picking_callback_exercise(d) {
        date = assembleDate(d);
        status = await fetchImage(date, 1, "contest");
        if (status != 200) {
            exerciseDiv = document.getElementById("exercise");
            exerciseDiv.style.display = "none";
        }
        else {
            exerciseDiv = document.getElementById("exercise");
            exerciseDiv.style.display = "block";
            status = await fetchUserAnswer(date);
            if (status == 200)
                status = await fetchRefAnswer(date);
            else{
                refAnswerElem = document.getElementById("refAnswer");
                refAnswerElem.textContent = 'No exposure.'
            }
        }
    }
</script>
{% endblock %}
