{% extends 'question/set.html' %}

{% block header %}
<h1>{% block title %}Inter-School Contest{% endblock %}</h1>
{% endblock %}

{% block linkJS %}
<script src="../../static/question.js"></script>
<!--<script src="../../static/contest.js"></script>-->
{% endblock %}

{% block setQuestion %}
<input id="submit" type="submit" value="submit" onclick="setQuestion('contest')">
{% endblock %}

{% block imageDisplay %}
<img id="contest-img" alt="contest image." style="width:80%; object-fit: contain; display:block;"/>
{% endblock %}